{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="h3 mb-0">Register</h1>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}